/* Remove standard body margin. */
body {
    margin: 0; 
}

/* The main grid for the site so the site always appears at least fullscreen and main element resizes accordingly. */
.site {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Assignging the main layout elements their grid area. */
.navbar {
    grid-area: header;
}

.main {
    grid-area: main;
}

/* Used for centering form panel elements for login, signup, creating posts, etc. */
.main.centered {
    align-self: center;
    justify-self: center;
    min-width: 300px;
}

.main.card {
    padding: 0;
}

.footer {
    grid-area: footer;
}

/* Generic styling with some responsiveness for different device screen breakpoints. */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 800px;
        width: 800px;
    }
}

@media screen and (min-width: 1216px) {
    .container {
        max-width: 1000px;
        width: 1000px;
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1200px;
        width: 1200px;
    }
}

.section {
    padding: 2rem;
}

.has-background-light {
    background: whitesmoke;
}

.card + .card {
    margin-top: 1rem;
}

/* Styling for notification element. */
.notification:last-child {
    border-radius: 0;
}

.notification > .dismiss {
    cursor: pointer;
    float: right;
}

/* Hides the notification when javascript addes the hidden attribute to the element. */
.notification[hidden] {
    display: none;
}

/* Styling for error pages. */
.error {
    text-align: center;
}

.error-code {
    color: lightgrey;
    font-size: 8em;
}

.error-message {
    margin-bottom: 1em;
}

/* Homepage-specific styling. */
.homepage > .hero {
    background: url('/img/cinema.jpg');
    background-blend-mode: multiply; /* Darkens the image by blending it with a 50% transparent black background so the text will contrast better. */
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
}

/* Styling for the new post form. */
.create-post {
    align-self: center;
    justify-self: center;
    min-width: 60%;
}

/* Styling for previous and next links on single post pages. */
.links {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.links > .previous {
    align-self: flex-start;
}

.links > .next {
    flex-basis: 100%;
    text-align: right;
}

/* Styling for info elements over posts / comments. */
.at, .by, .on {
    font-weight: normal;
    margin: auto 0.25em auto auto;
}

.email {
    font-weight: normal;
    margin: 0 auto 0 0.5em;
}

.email::before {
    content: '(';
}

.email::after {
    content: ')';
}

.leave-a-comment {
    margin-top: 2rem;
}

/* Generic helper classes. */
.has-margin\:top {
    margin-top: 1.5em;
}

.float\:right {
    float: right;
}